@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fira+Sans&display=swap');

html {
    font-size: 20px;
}

body {
    background-color: lightcyan;
}

#banner {
    font-size: 2rem;
    background-color: hotpink;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

#info {
    width: 56%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#nav-banner {
    font-size: 1.5rem;
    background-color: hotpink;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }  
  
#linkDiv {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#link-grid {
  display: grid;
  width: 100%;
  min-height: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    background-color: coral;
    min-height: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.grid-item p {
    font-size: .75rem;
}

#footer {
    text-align: right;
    color: grey    
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite 
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite; 
    font-size: 1.25rem;  
}

p {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: inherit;
}